.animated-image {
    position: relative;
    left: 1%;
    transition: transform 1s ease-in-out;
    transform: scale(1);
  }
  
  .animated-image.zoom-in {
    transform: scale(1.1);
  }
  
  .image-container {
    max-width: 500px;
  }
  
  .content-box {
    max-width: 600px;
  }
  