/* ************************************************************************************************************** */
/* navbar */

.navbar-glass {
  background: linear-gradient(to bottom, rgba(32, 66, 41, 0.8), rgba(0, 100, 0, 0.2), rgba(2, 86, 2, 0.012));
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(10px); /* for Safari */
  transition: all 0.3s ease-in-out;
  border-bottom: none;
}
.logo.transition {
  transition: all 0.3s ease-in-out;
}
.navbar-nav .nav-link {
  font-weight: 500;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
/* ************************************************************************************************************** */
/* home screen styles */

.header1{
  background-size :'cover';
  background-position: 'center';
  height: 100vh;
  width: 99vw;
}
.shaded{
  text-shadow: 5px 5px #45444457;
}
.section-underline {
  width: 50px;
  height: 4px;
  background-color: #013918; /* Emerald Green */
  border-radius: 2px;
  margin: 0 auto 1.5rem auto;
  position: relative;
}
/* ************************************************************************************************************** */

/* about section */
.image-container {
  max-width: 500px;
}
.content-box {
  max-width: 600px;
}

/* ************************************************************************************************************** */
/* home- department sections  */
.edu-dept-head{
  position: relative;
  height: 90vh;
  width: 99vw;
}
.edu-dept-head > .container{
    /* From https://css.glass */
    position: relative;
    top:20%;
    background: rgba(209, 170, 170, 0.27);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(10, 10, 10, 0.1);
    backdrop-filter: blur(5.9px);
    -webkit-backdrop-filter: blur(5.9px);
    border: 1px solid rgba(255, 255, 255, 0.17);
}
.edu-txt {
  font-size:100px;
  text-shadow: 5px 5px #74727225;
}
.edu-block{
  padding: 5%;
  background-color: #c7f9cf;
}
.edu-block:nth-child(odd){
  background-color: #498d54;
  color: white;
}
.main-header {
  position: relative;
  top:15%;
}

.ScrollDown{
  animation: MoveUpDown 1s linear infinite;
  position: absolute;
  left: 47%;
  bottom: 30px;
  color: white;
  opacity: .6;
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 30px;
  }
  50% {
    bottom: 35px;
  }
}
/* ************************************************************************************************************** */
/* Mobile view */

@media (max-width: 767.98px) {
  #navbarNav{
    background-color: #176538;
    z-index: 999;
    padding: 30px;
    font-size: 20px;

  }
  .navbar > .container >  button{
    border: 2px solid black;
  }
  .hide-on-mobile {
    display: none !important;
  }
  .edu-txt {
    font-size:60px;
    text-shadow: 5px 5px #74727225;
  }
  .header1{
    background-size :'cover';
    background-position: 'center';
    height: 60vh;
    width: 99vw;
  }
}
